@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--btn-color: #5cb85c;
	--text-color: #34495e;
	--btn-hover-color: #f0ad4e;
	--white: #ffffff;
}

@font-face {
	font-family: quickStarter;
	src: url(font/Quick\ Starter.ttf);
}

html {
	font-family: 'Roboto', sans-serif;
}

button {
	font-family: inherit;
}

header {
	min-height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
	background-image: url('assets/headerBg2.png'), url('assets/headerBg3.png'),
		url('assets/headerBg4.png');
	background-size: 33.33%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: left center, center center, right center;
	color: var(--white);
}

.hero-wrapper {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	padding-inline: 1rem;
}

@media screen and (min-width: 768px) {
	.hero-wrapper {
		width: 60vw;
		max-width: 900px;
	}
}

.header-title {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2rem;
	box-shadow: -3px -7px 14px 11px rgba(0, 0, 0, 0.5);
}

.header-title h1 {
	font-size: 4.5rem;
	font-family: quickStarter;
}

.header-title h2 {
	font-weight: 400;
}

.header-info h3 {
	margin-block-end: 2.5rem;
	font-weight: 600;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	border-radius: 0.2rem;
}

.btn {
	padding: 1rem 6rem;
	font-size: 1.25rem;
	background-color: var(--btn-color);
	color: var(--white);
	outline: none;
	border: none;
	border-radius: 0.5rem;
	transition: all 0.35s ease-in-out;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--btn-hover-color);
	color: black;
}
